<h3>Edit To-Do Task</h3>
<%= form_with(model: @todo, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Task Name" %>
  </div>
    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :task, required: true, placeholder: "Task Description" %>
  </div>
<!--- find out how to make a dropdown list here -->
    <div class="field">
    <%= f.label :status %>
   <!-- > <%= f.text_field :status, required: true, placeholder: "Status" %> -->
    <%= f.select :status, options_for_select(['Pending','Work in Progress','Done']), {}, {class: 'browser-default'} %> <br>
    </div> 
  <%= f.submit %>
  <% end %>